hr{
            
    border-style: dotted none none;
    width: 10%;
    border-color: grey;
    border-width: 5px;
}
body{
    background-color:#C4DDFF ;
}
h3{
    color: #001D6E;
}
a{
    text-decoration:none;
}
a:hover{
    color:rgb(255, 0, 111);
}
strong:hover{
    color:rgb(255, 0, 111);
}
